body {
  display: grid;
  font-family: Inter;
  place-items: center;
  background-color: #ffe2ef;
  color: #4177b5;
}

.container {
  display: grid;
  grid-template-rows: auto;
}

div {
  display: grid;
}

.bio {
  display: grid;
  grid-template-columns: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

.iconme {
  width: 96px;
  height: 91px;
  background: url(assets/images/me.jpg);
  border-radius: 10px;
}

hr {
  width: 614px;
  height: 3px;
  left: 413px;
  background: #000000;
}